

.crosshair_card {
  @apply h-auto w-auto mx-auto;
  
  .card_body {
    @apply relative z-10;

    img {
      @apply w-full;
      filter: grayscale(100%);
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        filter: grayscale(0%);
      }
    }


    .card_content {
      @apply p-4;

      .event_name {
        @apply text-primary font-bold uppercase text-3xl mb-4 tracking-wide relative overflow-hidden;
      }

      p {
        @apply text-gray-400 w-1/2;
      }
    }
  }
}