.btn {
  width: 230px;
  height: 60px; 
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  font-size: .85rem;
  text-transform: uppercase;
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  background: rgba(255, 255, 255, 0.112);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.112),
    rgb(0, 0, 0, 0.1)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  // @apply bg-primary text-blue-700 font-bold;
  color: #fff;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -1rem;
    height: 100%;
    width: 120%;
    @apply bg-blue-900;
    transform: skew(-15deg) scaleX(0);
    z-index: -1;
    transform-origin: left;
    transition: all 0.4s;
  }


  &:hover::before {
    transform: skew(-15deg) scaleX(1);
  }

  &:hover {
    color: #fff;
  }
}
