.crosshair {
  background-color: transparent;
  border: 1px solid #DB001E;
  box-sizing: border-box;
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  
  &::before {
    background-color: #121212;
    content: '';
    display: block;
    height: calc(100% - 20px);
    left: 0;
    top: 50%;
    transform: translate3d(-1px, -50%, 0);
    position: absolute;
    width: calc(100% + 6px);
    z-index: 0;
  }
  
  &::after {
    background-color: #121212;
    content: '';
    display: block;
    height: calc(100% + 6px);
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -1px, 0);
    position: absolute;
    width: calc(100% - 20px);
    z-index: 0;
  }
}

.button__inner {
  @apply py-[12px] px-[20px] text-primary block relative uppercase font-bold;

  .button__text {
    @apply relative z-[8] font-bold tracking-wide;
  }
}

.crosshair {
  .button__slide_left, .button__slide_right {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 50%;
    background: #DB001E;
    transform: scaleX(0);
    z-index: 10;
    transition: all 0.4s;
  }
  
  .button__slide_left {
    left: 0;
    transform-origin: left;
  }
  
  .button__slide_right {
    left: 50%;
    transform-origin: right;
  }

  &:hover .button__slide_left {
    transform: scaleX(1);
  }
  &:hover .button__slide_right {
    transform: scaleX(1);
  }

  &:hover .button__text {
    color: #fff;
  }
}