@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  @apply font-primary;
}

p,
a {
  @apply font-secondary;
}

p {
  @apply leading-7;
}

html,
body {
  background-size: 10%;
  background: #000;
  background-image: url("../public/bg-white.svg");
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-black.ttf");
}

@font-face {
  font-family: "Origin Tech";
  src: url("../public/OriginTech.ttf");
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-regular.ttf");
}

@font-face {
  font-family: "aquire";
  src: url("../public/aquire.otf");
}

@font-face {
  font-family: "horizon";
  src: url("../public/horizon.otf");
}


