@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
button,
a {
  @apply font-primary;
}

p,
a {
  @apply font-secondary;
}

html,
body {
  background-size: 10%;
  background: #000;
  background-image: url("../public/bg-white.svg");
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-black.ttf");
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-regular.ttf");
}

@font-face {
  font-family: "aquire";
  src: url("../public/aquire.otf");
}

@font-face {
  font-family: "horizon";
  src: url("../public/horizon.otf");
}

.masonry-tile {
  filter: grayscale(100%);
  transition: all 0.4s;

  &:hover {
    filter: grayscale(0);
  }
}

.globe {
  display: grid;
  place-items: center;
  height: 100vh;
  cursor: grabbing;
}

.bg-wrapper {
  background-size: cover;
  background-position: fixed;
  position: relative;

  & > * {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #000, transparent);
  }
}

.wrapper-container {
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  background: rgba(255, 255, 255, 0.112);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.03),
    rgb(255, 255, 255, 0)
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 25%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: transparent;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: 4rem auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 100px;
    width: 250px;
  }
}

.speaker-img {
  // clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
  
}