@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-primary;
}

html, body {
  background-size: 10%;
  background: #fff;
  background-image: url('../public/bg-white.svg');
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-black.ttf");
}

@font-face {
  font-family: "stratumno1";
  src: url("../public/stratumno1-regular.ttf");
}

.masonry-tile {
  filter: grayscale(100%);
  transition: all 0.4s;

  &:hover {
    filter: grayscale(0);
  }
}